{% extends "services/baseservices.html" %}

{% block title %}Tablet Service{% endblock title %}

{% block servicetitle %}
Tablet Service
{% endblock servicetitle %}

{% block dropdown %}

<select class="form-select">

<option>Select Tablet Model</option>

<option>iPad 9th Gen</option>
<option>iPad 10th Gen</option>
<option>iPad Air 5</option>
<option>iPad Pro 11</option>
<option>iPad Pro 12.9</option>

<option>Samsung Galaxy Tab S7</option>
<option>Samsung Galaxy Tab S8</option>
<option>Samsung Galaxy Tab S9</option>
<option>Samsung Galaxy Tab A9</option>

<option>Lenovo Tab M10</option>
<option>Lenovo Tab P11</option>

<option>Xiaomi Pad 5</option>
<option>Xiaomi Pad 6</option>

<option>Realme Pad</option>
<option>Realme Pad X</option>

<option>OnePlus Pad</option>

<option>Honor Pad 8</option>

<option>Huawei MatePad</option>

<option>Nokia T20</option>

<option>Amazon Fire HD 10</option>

<option>Asus ZenPad</option>

<option>Oppo Pad Air</option>

<option>Vivo Pad 2</option>

<option>Microsoft Surface Go</option>

<option>Google Pixel Tablet</option>

<option>Redmi Pad</option>

<option>Motorola Tab G62</option>

<option>Blackview Tab 15</option>

<option>Alcatel 3T</option>

<option>TCL Tab 10</option>

</select>

<div class="mt-4">

<label class="form-label fw-bold">
Select Problems
</label>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Screen Broken</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Battery Issue</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Charging Problem</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Touch Not Working</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Speaker Problem</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Camera Issue</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">WiFi Not Connecting</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Tablet Heating</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Power Button Not Working</label>
</div>

<div class="form-check">
<input class="form-check-input" type="checkbox">
<label class="form-check-label">Water Damage</label>
</div>

</div>

<div class="mt-4">

<label class="form-label fw-bold">
Your Location
</label>

<input type="text"
       class="form-control"
       placeholder="Enter your address">

</div>

<div class="mt-4">

<label class="form-label fw-bold">
Phone Number
</label>

<input type="text"
       class="form-control"
       placeholder="Enter your number">

</div>

<div class="mt-4">

<label class="form-label fw-bold">
Email Address
</label>

<input type="email"
       class="form-control"
       placeholder="Enter your email">

</div>

{% endblock dropdown %}